.ant-select-selector {
  width: 100% !important;
  height: 47px !important;
  padding: 7px 11px !important;
  font-size: 1.3rem !important;
}

.redColor {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
.numberText {
  margin-left: 10px;
  font-size: 1.3rem;
  font-weight: 600;
}
.deatiles {
  margin-top: 1rem;
}
.lightRed {
  color: white;
}
.Conatiner2sIconsTitle {
  padding: 1%;
  display: grid;
  /* grid-template-columns: 2fr 1fr; */
}
.cardsRigghtContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  height: 70%;
  margin-top: 1rem;
}
.btn {
  width: 7rem;
  height: 2.8rem;
}
.conatiner2Card {
  margin: 1%;
  width: 26rem !important;
  height: 19.5rem !important;
}
.hardware {
  margin: 1%;
  width: 26rem !important;
  /* height: 19.5rem !important */
}
.conatiner2CardImage {
  margin: 1%;
  /* width: 16rem !important;
  height: 12rem !important; */
  display: grid;
  justify-content: center;
  align-items: center;
}
.rightConatinesIcons {
  display: grid;
  justify-content: center;
  align-items: center;
}
.rightConatinesIcons .anticon {
  background: #c19f9d;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-size: 1.3rem;
}
.titleRightConatiner2 {
  font-size: 1.3rem;
  color: #438488;
}
.videoIcon {
  width: 85%;
}

.hardware {
  display: flex;
}

.optizmationWidget {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.Gettingstarted {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 1450px) {
  .optizmationWidget,
  .Gettingstarted {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1050px) {
  .Conatiner2sIconsTitle {
    width: 50%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 750px) {
  .Conatiner2sIconsTitle {
    width: 100%;
    margin: 0 auto;
  }
}
